@import 'colors';
@import 'components';
@import 'titles';
@import '~@brainhubeu/react-carousel/lib/style.css';
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.ant-layout-content {
  .custom-height {
    min-height: 80vh !important;
  }
  .custom-container {
    padding-top: 3em;
    padding-bottom: 4em;
  }
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
