.ant-layout-header.custom-nav-header {
  height: 50px;
  padding: 0 50px;
  color: $BLACK-54;
  background: $PRIMARY;

  .logo {
    width: 120px;
    background: url('/logo-white.svg') no-repeat center center;
    margin: 1px;
    float: left;
    height: 100%;
  }
}
